/*
Tengen Toppa Gurren Lagann
by erlbaum & Shishio-kun
Modified by Valerio Lyndon
Last update: 2023-05-26
*/

@\import "https://yuiafterdark.github.io/shared/fixes/classic.css";

/*
MAIN BACKGROUND BEHIND YOKO
*/
body {
background-attachment: fixed;
background-color: black;
background-image: url(https://i.imgur.com/zpfOJ4t.jpg) /* background.jpg */;
background-position: right top;
background-repeat: no-repeat;
background-size: cover;
}

/*
YOKO RENDERS
*/
.header_cw {
background-image: url(https://cdn.imgchest.com/files/e4gdcxg22v4.png) /* render_watching.png */;
background-attachment: fixed;
background-clip: border-box;
background-color: transparent;
background-origin: padding-box;
background-position: right top;
background-repeat: no-repeat;
background-size: cover;
padding-top: 1200px;
position: fixed;
right: 0;
top: 0px;
width: 2000px;
z-index: -1;
}
.header_completed {
background: url(https://cdn.imgchest.com/files/my8xcnzxxv4.png) /* render_completed.png */ no-repeat fixed right top transparent;
background-attachment: fixed;
background-clip: border-box;
background-color: transparent;
background-origin: padding-box;
background-position: right top;
background-repeat: no-repeat;
background-size: cover;
padding-top: 1200px;
position: fixed;
right: 0;
top: 0px;
width: 2000px;
z-index: -1;
}
.header_onhold {
background-image: url(https://cdn.imgchest.com/files/84apc5rzzn4.png) /* render_onhold.png */;
background-attachment: fixed;
background-clip: border-box;
background-color: transparent;
background-origin: padding-box;
background-position: right top;
background-repeat: no-repeat;
background-size: cover;
padding-top: 1200px;
position: fixed;
right: 0;
top: 0px;
width: 2000px;
z-index: -1;
}
.header_dropped {
background: url(https://cdn.imgchest.com/files/345xcvbzzg7.png) /* render_dropped.png */ no-repeat fixed right top transparent;
background-attachment: fixed;
background-clip: border-box;
background-color: transparent;
background-origin: padding-box;
background-position: right top;
background-repeat: no-repeat;
background-size: cover;
padding-top: 1200px;
position: fixed;
right: 0;
top: 0px;
width: 2000px;
z-index: -1;
}
.header_ptw {
background: url(https://cdn.imgchest.com/files/k46acqrook7.png) /* render_planned.png */ no-repeat fixed right bottom transparent;
background-attachment: fixed;
background-clip: border-box;
background-color: transparent;
background-origin: padding-box;
background-position: right top;
background-repeat: no-repeat;
background-size: cover;
padding-top: 1200px;
position: fixed;
right: 0;
top: 0px;
width: 2000px;
z-index: -1;
}

/*
BOTTOM FADE
*/
#inlineContent {
background-image: url(https://i.imgur.com/LnsiMKZ.png) /* gradient.png */;
background-position: center center;
background-repeat: repeat-x;
bottom: 0;
display: block !important;
height: 80px;
left: 0;
margin-bottom: 0;
position: fixed;
width: 100%;
z-index: 50;
pointer-events: none;
}

/*
FONTS
*/
.animetitle, .animetitle:visited {
color: AliceBlue;
font-family: Lucida Console,Arial;
font-size: 15px;
}
.td1, .td2, a, a:visited, .category_totals, .table_header, #grand_totals, #copyright {
color: aliceBlue;
font-family: arial;
}
.status_selected a {
color: white;
}
.status_not_selected a {
color: white;
}

/*
BACKGROUND COLOR BEHIND ROWS AND LIST TABLE
*/

.category_totals, .td1, .td2, #grand_totals, #copyright, .category_totals {
background-color: rgba(5, 5, 5, 0.2);
}


.td1, .td2 {
padding-top: 8px;
}

/*
OTHER CODES
*/
.td2 {
background-color: transparent;
padding: 4px;
}
.td1:hover, .td2:hover {
}
.header_title {
background-color: #282222;
color: white;
font-family: Tahoma,Arial;
font-size: 48px;
}
.table_header {
background-color: #282222;
}

#list_surround {
	width: 650px;
}
#list_surround {
left: 20px !important;
position: absolute !important;
}
a:hover, a:visited:hover {
color: coral;
text-decoration: underline;
}
.category_totals, .td1, .td2, #grand_totals, #copyright {
background-image: url("");
border-width: 0;
padding: 0;
}
.status_selected {
background-color: windowframe;
color: white;
padding: 8px;
text-decoration: blink;
}
.status_not_selected {
background-color: #282222;
color: white;
padding: 6px;
}
.thickbox {
color: cyan;
font-family: fantasy;
font-size: 12px;
}
.header_title {
height: 55px;
padding: 4px;
padding-bottom: 0;

}
.table_header {
border-width: 0;
font-weight: normal;
padding-right: 3px;
}
.category_totals {
height: 30px;
}
#copyright, #grand_totals {
margin: 0 auto;
text-align: center;
}
.td1:hover, .td2:hover {
background: url(https://i.imgur.com/hDMV8BS.png) /* row.png */ repeat scroll 0 0 transparent;
}
.status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_not_selected + .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected, .status_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected + .status_not_selected {
background: none repeat scroll 0 0 tan;
display: none;
}

/*
TOP MENU BAR BACKGROUND
*/
#mal_control_strip
{
background: url(https://i.imgur.com/41syxVn.png) /* header.png */ fixed top left !important;
}
/*
CUSTOM CURSOR
*/
* {
cursor: url(https://i.imgur.com/Ehwjri6.png) /* cusor.png */ 1 2, auto;
}

#mal_cs_pic, #mal_cs_listinfo, #mal_cs_links {
border-right: 0 none !important;
}
#copyright:after {
content: " Custom CSS by Erlbaum. Edits and backgrounds by Shishio-kun. Google 'Shishio's Custom Lists' for more designs and info.";
}